<h1>Hello Rails!</h1>
<%= link_to "my blog",controller: "posts"%>


<%= form_tag("welcome/search",method: "get") do%>
	<%= label_tag(:q,"search-for:")%>
	<%= text_field_tag(:q)%></br>
	
	<%= check_box_tag(:pet_dog)%>
	<%= label_tag(:pet_dog,"i won a dog")%>
	<%= check_box_tag(:pet_cat)%>
	<%= label_tag(:pet_cat,"i won a cat")%></br>
	<%= radio_button_tag(:age,"child")%>
	<%= label_tag(:age_child,"child")%>
	<%= radio_button_tag(:age,"adult")%>
	<%= label_tag(:age_adult,"adult")%></br>
	other form helpers</br>
	<%= text_area_tag(:message,"hi nice site",size: "24x6")%></br>
	password:<%= password_field_tag(:password)%></br>
	<%= hidden_field_tag(:parent_id,"5")%></br>
	<%= search_field(:user,:name)%></br>
	<%= telephone_field(:user,:phone)%></br>
	<%= date_field(:user,:born_on)%></br>
	<%= datetime_field(:user,:meeting_at)%></br>
	<%= datetime_local_field(:user,:graduation_day)%></br>
	<%= month_field(:user,:birthday_month)%></br>
	<%= week_field(:user,:birthday_week)%></br>
	<%= url_field(:user,:homepage)%></br>
	<%= email_field(:user,:address)%></br>
	<%= color_field(:user,:favorite_color)%></br>
	<%= time_field(:task,:started_at)%></br>
	<%= submit_tag("submit")%>
<%end%>
